.blog-post {
  padding-bottom: 5rem;
}

.blog-post-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2.5rem;
}

.blog-post-title {
  font-size: clamp(3rem, 5vw, 6rem);
}

.blog-post-data img {
  width: 100%;
  height: var(--item-min-height-sm);
  object-fit: cover;
  object-position: center 10%;
}

.blog-post-container .container {
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.comment-box {
  background-color: var(--secondary-background-color);
  display: flex;
}

.commenter {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commenter p {
  width: 5rem;
  height: 5rem;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  padding-left: 2rem;
}
